<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
		
		
		
		
			<ui:repeat var='band' value="#{indexBackingBean.x}">
			<table>
				<ui:repeat var='data' value="#{band}">
					<tr>
						<td>#{data.key}</td>
						<td>#{data.value}</td>					
					</tr>								
				</ui:repeat>
				
			</table>
			<hr />
			</ui:repeat>
		
		
		
		
		
	
	
	
	
	
	
</body>
</html>